<div class="container mb-4">
  <table id="pokemonTable" class="table table-hover text-center align-middle custom-table">
    <thead class="table-dark">
      <tr>
        <th>Nome</th>
        <th>Attacco</th>
        <th>Difesa</th>
        <th>Azioni</th>
      </tr>
    </thead>
    <tbody>
      {{#each .}}
      <tr>
        <td class="open-modal" data-id="{{id}}">{{nome}}</td>
        <td class="open-modal" data-id="{{id}}">{{attacco}}</td>
        <td class="open-modal" data-id="{{id}}">{{difesa}}</td>
        <td>
          <button class="btn btn-danger btn-sm" onclick="deletePokemon({{id}})">Elimina</button>
          <button class="btn btn-warning btn-sm open-modal" data-id="{{id}}">Modifica</button>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>

  <button class="btn btn-warning open-modal" data-id="0">Inserisci</button>
</div>

<div id="pokemon-modal" class="modal" style="display: none;">
  <div class="modal-overlay"></div>
  <div class="modal-content">
    <h2 id="modal-title">Modifica Dettagli Pokémon</h2>
    <form id="editForm">
      <input type="hidden" id="pokemon-id" value="0" />
      <div class="mb-3">
        <label for="nome" class="form-label">Nome <span class="required">*</span></label>
        <input type="text" id="nome" class="form-control" required>
      </div>
      <div class="mb-3">
        <label for="attacco" class="form-label">Attacco <span class="required">*</span></label>
        <input type="number" id="attacco" class="form-control" min="0" required>
      </div>
      <div class="mb-3">
        <label for="difesa" class="form-label">Difesa <span class="required">*</span></label>
        <input type="number" id="difesa" class="form-control" min="0" required>
      </div>
      <div class="modal-buttons">
        <button type="submit" class="btn btn-success">Salva</button>
        <button type="button" class="btn btn-secondary close-modal">Annulla</button>
      </div>
    </form>
  </div>
</div>